<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Викторина</title>
    <link  rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    {% if question  %}
        <h1>{{question}}</h1>
    {% endif %}
    <form action="test" method="post">
        <input type="hidden" name="q_id" value="{{question_id}}"
        <div>
            {% for answer in answer_list %}
                <div>
                    <input type="radio" name="ans_text" value="{{answer}}"> {{answer}}
                </div>
            {% endfor %}

        </div>
        <p><input type="submit" value="Ответить"></p>
    </form>
</body>
</html>